$situ-font-path: "/assets/fonts" !default;
/* 
* Font vars
*/
$font-primary: 'EuclidTriangleLight';
$font-secondary: 'EuclidTriangleSemiBold';
/* 
* Color vars
*/
$background-primary: #081d4d;
$color-primary: #fff;
$color-secondary: #000;

/**
* Fonts
*/
@font-face {
  font-family: $font-primary;
  src: url("#{$situ-font-path}/euclidtriangle-light.woff2") format("woff2"),
    url("#{$situ-font-path}/euclidtriangle-light.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: $font-secondary;
  src: url("#{$situ-font-path}/euclidtriangle-semibold.woff2") format("woff2"),
    url("#{$situ-font-path}/euclidtriangle-semibold.woff") format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

.App {
  height: 100%;
  background: url('./assets/images/slinkies.svg') bottom right no-repeat $background-primary;
  background-size: contain;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: $font-secondary;
  color: $color-primary
}
p,
a {
  font-family: $font-primary;
  color: $color-primary
}
.color-jade {
  color:#00c8b7;
}

.brand-logo img {
  width: 300px;
}

.carousel {
  height: 500px;
  position: relative;
  z-index: 999;
  margin-left: -300px;
}
.carousel-arrow.left {
  left: 15px;
}
.carousel-arrow.right {
  right: 15px;
}
.carousel-arrow.left,
.carousel-arrow.right {
  width: 100px;
  position: absolute;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: ease .5s;
  color: $color-primary;
}
.carousel-arrow.left:hover,
.carousel-arrow.right:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
}
.carousel-preview-overlay.overlay-left {
  margin: 0 -16px;
}
.carousel-preview-overlay.overlay-right {
  margin: 0 15px;
}
.carousel-preview-overlay {
  background-color: rgba(51, 51, 51, 0.60);
  width: 100%;
  height: 100%;
}
.carousel-description {
  background: rgba(0, 199, 182, 0.51);
  color: $color-primary;
  padding: 20px;
  bottom: 0;
  position: absolute;
  max-width: 94.8%;
}
/** 
* Media queries
*/
@media screen and (max-width: 530px) {
  .brand-logo {
    text-align: center;
  }
  .carousel-slider {
    width: 100%!important;
  }
  .carousel-description {
    width: 92%;
  }
  .carousel-txt-title {
    font-size: 1.5em;
  }
  .carousel-txt-description {
    font-size: 0.8em;
  }
  .left-preview,
  .right-preview {
    visibility: hidden;
  }
}